@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* PALETA DE CORES */
:root {
    --color-neutral-0: #fff;
    --color-neutral-1: #eee4db;
    --color-neutral-2: #d4c3b6;
    --color-neutral-3: #b8a99e;
    --color-neutral-4: #9e8f85;
    --color-neutral-5: #7e6e65;
    --color-neutral-6: #5e4e45;
    --color-neutral-7: #3e2e25;
    --color-neutral-8: #1e0e05;
    --color-neutral-9: #000;

    --color-primary-1: #34815d;
    --color-primary-2: #2c6e4f;
    --color-primary-3: #245c42;

    --color-secondary-1: #f5c518;
}
/* ESTILOS DO BOTAO */
a.btn {
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    box-shadow: 2px 2px 4px #1e0e0545;
    transition: background-color 0.3s ease-in-out;
}

.btn-mobile {
    font-size: 1.5rem;
    box-shadow: none;
    
}
.btn-default {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);

    &:hover {
        background-color: var(--color-primary-3);
        color: var(--color-neutral-1);
        transform: scale(1.05) translateY(-3px);

    }
}

.btn-outlined {
    background-color: transparent;
    color: var(--color-primary-1);
    border: 2px solid var(--color-primary-1);

    &:hover {
        transform: scale(1.05) translateY(-3px);
        background-color: var(--color-neutral-7);
        border-color: var(--color-neutral-7);
        color: var(--color-neutral-2);
    }
}

/* CABECALHO */
header {
    background-color: var(--color-neutral-1);
    padding: 12px 4%;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* ESTILOS DO MENU */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
}

ul {
    display: none;
    list-style: none;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    position: absolute;
    top: 80px;
    background-color: var(--color-neutral-1);
    left: 0;
    padding: 1rem;

    &.show {
        display: flex;
    }
}

li {
    text-align: center;
}

a {
    color: var(--color-neutral-8);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
        color: var(--color-primary-1);
        border-bottom: 1px solid var(--color-primary-1);
    }

} 

.btn btn-default {
    display: none;
}

@media (min-width: 769px) {
    header {
       .navbar {
        .btn-mobile {
            display: none;
        }

        ul {
           display: flex;
           flex-direction: row;
           position: static;
           gap: 1rem;
           width: auto;
           padding: 0; 
        }
        .btn-default {
            display: block;
        }
       } 
    }
}

/* SECAO HERO / SECAO MAIN */
#container {
    background-image: url('../images/background-mobile.png');
    background-size: contain;
    height: 400vh;
}

.titulo-secao {
    position: relative;
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-neutral-7);
    text-shadow: 1px 1px 4px #1e0e0545;

    &::after {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        width: 60px;
        height: 4px;
        background-color: var(--color-primary-1);
        border-radius: 30px;
    }
}

#hero {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
    padding-top: clamp(0px, 5vw, 32px); /* o clamp faz com que diminui o uso de media querys no CSS*/
}

.hero-image {
    width: clamp(300px, 50%, 400px);
}

.hero-title {
    color: var(--color-neutral-7);
    text-align: center;
    font-size: clamp(3rem, 5vw, 4.3rem);
    text-transform: uppercase;
    line-height: 1.2;
    max-width: 700px;
    text-shadow: 2px 1px 4px #1e0e0545;
}

.hero-description {
    color: var(--color-neutral-8);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    max-width: 600px;
    text-shadow: 1px 1px 4px #1e0e0523;
}

.hero-actions {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

span {
    color: var(--color-primary-1);
}

/* SECAO EM ALTA */

#em-alta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 4%;
    gap: 32px;
    min-height: calc(100vh - 96px);
}

.item-em-alta {
    position: relative;
}

img.imagem-iten {
    width: clamp(300px, 5vw, 600px);
}

.avaliacao {
    background-color: var(--color-neutral-1);
    position: absolute;
    bottom: 70px;
    right: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #1e0e052e;

    i {
        color: var(--color-secondary-1);
    }
}

.descricao-iten {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-neutral-7);
    text-shadow: 1px 1px 4px #1e0e052f;

}

span.titulo-iten {
    color: var(--color-primary-3);
}

@media screen and (min-width: 769px) {
    .cards-em-alta {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3.125rem;
    }
    
}