@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* PALETA DE CORES */
:root {
    --color-neutral-0: #fff;
    --color-neutral-1: #eee4db;
    --color-neutral-2: #d4c3b6;
    --color-neutral-3: #b8a99e;
    --color-neutral-4: #9e8f85;
    --color-neutral-5: #7e6e65;
    --color-neutral-6: #5e4e45;
    --color-neutral-7: #3e2e25;
    --color-neutral-8: #1e0e05;
    --color-neutral-9: #000;

    --color-primary-1: #34815d;
    --color-primary-2: #2c6e4f;
    --color-primary-3: #245c42;

    --color-secodary-1: #f5c518;
}
/* ESTILOS DO BOTAO */
a.btn {
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.btn-mobile {
    font-size: 1.5rem;
}

.btn-default {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);

    &:hover {
        background-color: var(--color-primary-2);
        color: var(--color-neutral-0);

    }
}

.btn-outlined {
    background-color: transparent;
    color: var(--color-primary-1);
    border: 2px solid var(--color-primary-1);

    &:hover {
        color: var(--color-neutral-0);
    }
}

/* CABECALHO */
header {
    background-color: var(--color-neutral-1);
    padding: 12px 4%;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* ESTILOS DO MENU */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
}

ul {
    display: none;
    list-style: none;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    position: absolute;
    top: 80px;
    background-color: var(--color-neutral-1);
    left: 0;
    padding: 1rem;

    &.show {
        display: flex;
    }
}

li {
    text-align: center;
}

a {
    color: var(--color-neutral-8);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
        color: var(--color-primary-1);
        border-bottom: 1px solid var(--color-primary-1);
    }

} 

.btn btn-default {
    display: none;
}

@media (min-width: 769px) {
    header {
       .navbar {
        .btn-mobile {
            display: none;
        }

        ul {
           display: flex;
           flex-direction: row;
           position: static;
           gap: 1rem;
           width: auto;
           padding: 0; 
        }
        .btn-default {
            display: block;
        }
       } 
    }
}

/* SECAO HERO / SECAO MAIN */
#container {
    background-image: url('../images/background-mobile.png');
    background-size: contain;
    height: 400vh;
}
/* o clap faz com que diminuimos o uso de media querys no CSS*/
#home {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
    padding-top: clamp(0px, 5vw, 32px);
}

.home-image {
    width: clamp(300px, 50%, 400px);
}

.home-title {
    color: var(--color-neutral-8);
    text-align: center;
    font-size: clamp(3rem, 5vw, 4.3rem);
    text-transform: uppercase;
    line-height: 1.2;
    max-width: 700px;
}

.home-description {
    color: var(--color-neutral-9);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    max-width: 600px;
}

.home-actions {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

span {
    color: var(--color-primary-1);
}